{% extends 'base.html' %}

{% block content %}
<h2>Mood History</h2>
<table>
    <thead>
        <tr>
            <th>Date Logged</th>
            <th>Mood</th>
            <th>Category</th>
            <th>Score</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in mood_entries %}
        <tr>
            <td>{{ entry.date_logged }}</td>
            <td>{{ entry.mood }}</td>
            <td>{{ entry.category }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.description }}</td>
            <td>
                <a href="{% url 'update_mood' entry.id %}">Edit</a>
                
                <a href="{% url 'delete_mood_entry' entry.id %}">Delete</a>
              </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Mood Trends</h3>
<canvas id="moodChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var moodData = JSON.parse('{{ mood_data|escapejs }}');

    var ctx = document.getElementById('moodChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: moodData.dates,
            datasets: [
                {
                    label: 'Mood Score',
                    borderColor: 'blue',
                    data: moodData.scores,
                    fill: false
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                y: { min: -6, max: 10 }
            }
        }
    });
</script>
{% endblock %}