{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Mood History</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date Logged</th>
                    <th scope="col">Mood</th>
                    <th scope="col">Category</th>
                    <th scope="col">Score</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in mood_entries %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ entry.date_logged }}</td>
                    <td>{{ entry.mood }}</td>
                    <td>{{ entry.category }}</td>
                    <td>{{ entry.score }}</td>
                    <td>
                        <a href="{% url 'update_mood' entry.id %}" class="text-decoration-none text-primary">{{ entry.description }}</a>
                    </td>

                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}